<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-image: url({% static 'images/background.jpg' %})">
<head>

    <meta charset="UTF-8">
    <title>Reddit Comment Stream</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
 integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">



<link rel="stylesheet" href="{% static '/styles_index.css' %}" type="text/css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    

</head>

<div id="whole_page" align="center" style="background-image: url({% static 'images/background.jpg' %})" >
<body>
<p id="fade_text_0" class="h2 text-light">Find a Reddit comment page and then copy the link</p>
<br>
<img src="{% static '/nba_example.png' %}" id="nba_example" >
<p id="fade_text_1" class="h2 text-light">Paste it below <i class="fas fa-level-down-alt"></i></p>


<div class="row">
      <div class="col-md-6 center">
{% if error %}
        <p style="color: red;">
            The Reddit Comment URL was not valid, please check the URL and try again.
        </p>
    {% endif %}
            <form action="/process-url/" method="post" id="form_comment_url"  >
                 {% csrf_token %}
                <div class="input-group" >
                 <input id="reddit_url"  type="text" name="reddit_url"
                     value="{{ url }}" placeholder="Comment URL"  class="form-control">
                    <span class="input-group-btn">
                        <input type="submit" value="OK" class="btn btn-secondary">
                    </span>
                </div>
            </form>

      </div>
</div>

</body>

    <script>



// Function to wait before next fade in. Using promises and setTimeOut method.
// Currently will resolve after one second.
        function resolveAfter1Second() {
  return new Promise(resolve => {
    setTimeout(() => {
      resolve('resolved');
    }, 1000);
  });
}

// Function fade_in_elements.
// This will fade in the elements of the main screen.
// This will not occur when the page is reloaded because of an error or to start a new comment stream
async function fade_in_elements() {
    var fade_in_wait = 1000;

    $('#fade_text_0').hide();
    $('#fade_text_1').hide();
    $('#nba_example').hide()
    $('#form_comment_url').hide()

    $('#fade_text_0').fadeIn(fade_in_wait);

    await resolveAfter1Second();

    $('#nba_example').fadeIn(fade_in_wait);

    await resolveAfter1Second();

   $('#fade_text_1').fadeIn(fade_in_wait);

   await resolveAfter1Second();

  $('#form_comment_url').fadeIn(fade_in_wait);

}

fade_in_elements();


    </script>
</div>
</html>