:root{
   --dark-color: #393d38;
}
.themeBtn
{
   border-radius: 6px;
}

html {
   height: 100%;
}
body {
   min-height: 100%;
}
ul{
   margin: 0%, auto;
}
li{
   text-align: center;
}

.dark{
   color:white;
   background-color: var(--dark-color);
}
.light{
   color: black;
   background-color: white;
}

