
:root{
    --off-white: #e3ebec;
 }

 html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
.index-header{
    color: white;

}
.center{
    margin: 0 auto;
    float: none;
}
#active-cards{
    display: inline-flex;
    flex-flow: row wrap;
}
.active-card{
    width: 200px;
    margin: 10px;
    box-shadow: 10px 7px 3px;
}
.active-body{
    background-color: var(--off-white);
}

.link {
    font-size: large;
    transition: .2s ease-out;
    cursor: pointer;
   
  }

  .link:hover {
    color: lightblue
  }
  .post-title{
      text-overflow: ellipsis;
  }
  .hidden{
    display: none;
 }
 